In [1]:
import pandas as pd
data = [
    ['homefederalAccountBalance', 2925], 
    ['homefederalLoanBalance', -48621.72], 
    ['tvacreditunionSavings', 9870.74], 
    ['optumbankHSA', 1342.79]
]
accountBalances = pd.DataFrame(data, columns=['AccountName', 'Ballance'])
accountBalances

                 AccountName  Ballance
0  homefederalAccountBalance   2925.00
1     homefederalLoanBalance -48621.72
2      tvacreditunionSavings   9870.74
3               optumbankHSA   1342.79

In [2]:
liquidCash = accountBalances[accountBalances["AccountName"].str.contains("homefederalAccountBalance|tvacreditunionSavings")]

In [3]:
liquidCash['Ballance'].sum()

12795.74